{:prod {:asistencial {:dbtype "relativity"
                      :dbname "asistencial"
                      :user "ADMIN"
                      :password ""
                      :classname "relativity.jdbc.Driver"
                      :host "10.200.0.30"
                      :port 1583}
        :desal {:dbtype "postgres"
                :dbname "desal"
                :user "desal"
                :password "desal2016"
                :host "10.200.0.30"
                :port 5432}
        :maestros {:dbtype "relativity"
                   :dbname "Maestros"
                   :user "ADMIN"
                   :password ""
                   :classname "relativity.jdbc.Driver"
                   :host "10.200.0.30"
                   :port 1583}}
 :dev {:asistencial {:dbtype "relativity"
                     :dbname "asistencialsc9"
                     :user "ADMIN"
                     :password ""
                     :classname "relativity.jdbc.Driver"
                     :host "10.200.0.30"
                     :port 1583}
       :desal {:dbtype "postgres"
               :dbname "desal"
               :user "desal"
               :password "desal2016"
               :host "10.200.0.190"
               :port 5432}
       :maestros {:dbtype "relativity"
                  :dbname "Maestrossc9"
                  :user "ADMIN"
                  :password ""
                  :classname "relativity.jdbc.Driver"
                  :host "10.200.0.30"
                  :port 1583}}
 :test {:asistencial {:dbtype "postgresql"
                      :dbname "asistencial"
                      :user "asistencial"
                      :password "123456" 
                      :host "127.0.0.1"
                      :port 5432}
        :desal {:dbtype "postgres"
                :dbname "desal"
                :user "desal"
                :password "desal2016"
                :host "10.200.0.190"
                :port 5432}
        :maestros {:dbtype "relativity"
                   :dbname "Maestros"
                   :user "ADMIN"
                   :password ""
                   :classname "relativity.jdbc.Driver"
                   :host "10.200.0.30"
                   :port 1583}}}